version: '3'
services:
  mongo:
    image: mongo:5.0.4
    container_name: mongo
    ports:
      - 27017:27017
    networks:
      - my-network
  readingisgood:
    image: readingisgood:latest
    build:
      context: ./
      dockerfile: Dockerfile
    container_name: readingisgood
    ports:
      - 8080:8091
    networks:
      - my-network
networks:
  my-network:
    driver: bridge
